.about {
  padding-top: 0px;
  gap: 30px;
}

.about__item {
  position: relative;
}

.about__box {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  text-align: center;
  padding: 27px;
}

.about__text {
  @include font(700,14px,1.14,0.03em);
  text-transform: uppercase;
  color: var(--accent-text);
}
