.footer {
  background: var(--secondary-background-color);
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
  @include desktop {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
.container-foot {
  outline: 1px solid tomato;
  text-align: center;
  @include desktop {
    display: flex;
    text-align: left;
  }
}

.container-tablet {
  @include tablet {
    display: flex;
    justify-content: space-around;
  }
}
.foot {
  display: inline-block;

  margin-bottom: 60px;
  @include desktop {
    width: 100%;
    margin-right: 92px;
    margin-bottom: 0px;
  }

  outline: 1px solid fuchsia;
}

.footer__logo {
  display: flex;
  font-family: 'Raleway';
  font-style: normal;
  color: var(--accent-text);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  @include font(700, 24px, 1.16, 0.03em);
  width: 154px;
  text-align: center;

  @include desktop {
    margin-left: 0px;
    @include font(700, 26px, 1.19, 0.06em);
    width: 145px;
  }
}

.container-address {
  margin-bottom: 9px;
}

.address-link {
  justify-content: center;
  @include desktop {
    justify-content: left;
  }

  font-style: normal;
  @include font(400, 14px, 1.71, 0.03em);
  color: var(--accent-text);
}

.foot-contacts {
  display: block;
  margin-bottom: 9px;
  color: rgba(255, 255, 255, 0.6);
  @include desktop {
    text-align: left;
  }
}

.add {
  display: block;
  margin-bottom: 60px;
  @include desktop {
    margin-right: 93px;
    margin-bottom: 0px;
  }
  outline: 1px solid gold;
}

.subscribe {
  width: 100%;
  @include tablet {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
  @include desktop {
    width: 100%;
  }
  outline: 1px solid green;
}

.subscribe__container {
  outline: 2px solid turquoise;
  
  @include desktop {
   display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
  }
}

.subscribe__inp {
  width: 100%;
  margin-bottom: 20px;
  @include font(400, 16px, 1.25, 0.03em);
  padding: 15px 15px 15px 15px;
  background-color: var(--secondary-background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);

  @include desktop {
    display: flex;
    margin-bottom: 0px;
  }
}

.subscribe__button {
  width: 200px;
  padding: 10px 28px;

  @include font(700, 16px, 1.875, 0.06em);
  color: var(--accent-text);
  background: var(--accent-background);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
}

.icon-send {
margin-left: 10px;
 
  fill: var(--accent-text);
}
